<div class="copyright">
	<div class="container">
		<p><span class="all-rights-reserved">&copy; 2019 • </span><a href="https://ghost.org/" target="_blank">Ghost</a> • Theme <a href="https://github.com/lzan13/VMRaindrop" target="_blank">VMRaindrop</a> | <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备14080761号-1</a></p>
	</div>
</div>

