<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{!-- <ul class="social-links">
					{{> custom/social-icon}}
				</ul> --}}
				<p><span class="all-rights-reserved">&copy; 2019</span>Power by <a href="https://ghost.org/" target="_blank">Ghost</a>. Theme by <a href="https://github.com/lzan13/VMRaindrop/" target="_blank">VMRaindrop</a></p>
				<p><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备14080761号-1</a></p>
			</div>
		</div>
	</div>
</div>