<header class="header-big animated fadeIn">
    <div class="header-top-nav">
        {{navigation}}
    </div>
    <div class="header-middle">
        <div class="header-middle-content animated fadeInUp">
            <a href="{{@blog.url}}" class="header-title">{{@blog.title}}</a>
            <h4 class="header-description">{{@blog.description}}</h4>
            <nav class="header-social-icon">
                <ul>{{> social-icon}}</ul>
            </nav>
        </div>
    </div>
    <a class="indicator">
        <i class="iconfont icon-arrow-down"></i>
    </a>
</header>