<div class="post-list-pagination">
	<nav class="post-navigation">
		<ul class="nav-links">
			<li class="nav-previous {{#unless prev}}invisible{{/unless}}">
				<a href="{{page_url prev}}"><i class="iconfont icon-prev"></i><span>上一页</span></a>
			</li>
			<li><span>- {{page}} / {{pages}} -</span></li>
			<li class="nav-next {{#unless next}}invisible{{/unless}}">
				<a href="{{page_url next}}"><span>下一页</span><i class="iconfont icon-next"></i></a>
			</li>
		</ul>
	</nav>
</div>


