<div class="post-list-pagination">
	<ul class="nav-links">
		{{#if prev}}
		<li class="nav-previous"><a href="{{page_url prev}}"><i class="iconfont icon-prev"></i><span>上一页</span></a></li>
		{{/if}}
		<li><span> {{page}} / {{pages}} </span></li>
		{{#if next}}
		<li class="nav-next"><a href="{{page_url next}}"><span>下一页</span><i class="iconfont icon-next"></i></a></li>
		{{/if}}
	</ul>
</div>