{{#get "posts" limit="10" filter="primary_tag:{{primary_tag.slug}}+id:-{{id}}" as |related|}}
{{#if related.length}}
<div class="related-posts-wrapper">
	<h3 class="related-post-title">相关文章</h3>
	<div class="related-post-list">
		<ul>
			{{#foreach related}}
			<li><a href="{{url}}">{{title}}</a></li>
			{{/foreach}}
		</ul>
	</div>
</div>
{{/if}}
{{/get}}