{{#get "posts" limit="4" filter="primary_tag:{{primary_tag.slug}}+id:-{{id}}" as |related|}}
{{#if related.length}}
<div class="related-posts-wrapper">
	<h3 class="related-post-title">相关文章</h3>
	<div class="related-post-list">
		{{#foreach related}}
		<p></p><a href="{{url}}">{{title}}</a></p>
		{{/foreach}}
	</div>
</div>
{{/if}}
{{/get}}