<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="prev-next-wrap">
			{{#prev_post}}
			<article class="prev-item">
				<div class="prev-content">
					<a href="{{url}}" class="title">{{title}}</a>
				</div>
			</article>
			{{/prev_post}}

			{{#next_post}}
			<article class="next-item">
				<div class="next-content">
					<a href="{{url}}" class="title">{{title}}</a>
				</div>
			</article>
			{{/next_post}}
		</div>
	</div>
</div>