{{!< default}}

<div class="author-page">
	<header>
		<div class="header-top-nav">
			{{navigation}}
		</div>
	</header>

	<div class="author-container">
		<div class="plane-wrapper">
			<img src="{{asset 'images/plane.svg'}}" alt="">
			<div class="rotate-container">
				<img src="{{asset 'images/propeller.svg'}}" alt="">
			</div>
		</div>
		<div class="about-me-content">
			<h2>穿裤衩闯天下</h2>
			<p>慢慢来，一步一个脚印 👣 </p>
		</div>
	</div>
</div>






