{{!< default}}
{{!-- 首页 --}}
{{!-- 引入头部内容 --}}
{{> header}}
<canvas id="site-canvas-bg"></canvas>

<div class="site-content">
    {{> post-card}}

    {{#if pagination}}
    {{pagination}}
    {{/if}}
</div>
{{!-- 引入版权信息 --}}
{{> copyright}}