{{!< default}}
{{!-- 通用页面 --}}
{{#post}}
<header {{#if feature_image}}style="background-image: url({{feature_image}})" {{/if}} id="header-big"
	class="animated fadeIn">
	<div class="header-top-nav">
		{{navigation}}
	</div>
	<div class="header-middle">
		<div class="header-middle-content animated fadeInUp">
			<h2 class="header-title">{{title}}</h2>
			<h4 class="header-description">{{excerpt}}</h4>
		</div>
	</div>
	<a class="indicator">
		<i class="iconfont icon-arrow-down"></i>
	</a>
</header>
<div class="site-content">
	<div class="post-wrapper">
		{{> post-content}}
	</div>
	{{!-- 引入评论 --}}
	{{> comments}}
</div>
{{/post}}

{{!-- 引入版权信息 --}}
{{> copyright}}