<li><a href="http://weibo.com/jerrymei666" target="_blank"><i class="fa fa-github"></i></a></li>
<li><a href="https://weibo.com/lzan13" target="_blank"><i class="fa fa-weibo"></i></a></li>
<li><a href="https://www.zhihu.com/people/lzan13" target="_blank"><i class="fa fa-zhihu"></i></a></li>