// ------------------------------------------------
// 页面部分样式表
// ------------------------------------------------
.article-list{
  font-size: 24px;
  ul li{
    height: 36px;
    line-height: 36px;
    list-style-type: circle;
    list-style-position: initial;
    list-style-image: initial;
    span{
      color: @desc-dark;
      margin-right: 4px;
    }
    a{
      color: @active-link;
      &:hover{
        text-shadow: 0 1px 2px @active-link;
      }
    }

  }
}


