// 通用文本颜色
// 亮色
@title-light-color: #fefefe;
@subtitle-light-color:#e8e8e8;
@desc-light-color: #aeaeae;
// 暗色
@title-dark-color:#363636;
@subtitle-dark-color:#525252;
@desc-dark-color: #747474;

// 活动相关颜色
@inactive-light-color: #e8e8e8;
@inactive-dark-color: rgba(54, 54, 54, .6);

@active-light-color: #fefefe;
@active-dark-color: rgba(54, 54, 54, .8);

// 超链接激活颜色
@active-link-color: #f69f68;

// Copyright 颜色配置
@copyright-bg-color: #ffffff;
@copyright-color: #C8C8C8;

// 半透明导航背景
@top-nav-color: rgba(54, 54, 54, 0.6);

@label-light-color: #fefefe;
@label-dark-color:#363636;

//背景色
@background-color: #fefefe;
@toc-bg-color: #efefef;

// 装饰间隔颜色
@decoration-color: #e8e8e8;

@text-shadow-color: #595959;
@text-shadow-hover-color: #000;
