// 通用文本颜色
// 亮色
@title-light-color: #f8f8f8;
@subtitle-light-color:#e8e8e8;
@desc-light-color: #aeaeae;
// 暗色
@title-dark-color:#232323;
@subtitle-dark-color:#525252;
@desc-dark-color: #747474;

// 活动相关颜色
@inactive-light-color: #d8d8d8;
@inactive-dark-color: rgba(54, 54, 54, .6);

@active-light-color: #f8f8f8;
@active-dark-color: rgba(54, 54, 54, .8);

// 超链接激活颜色
@active-link-color: #f69f68;


// Copyright 颜色配置
@copyright-bg-color: #ffffff;
@copyright-color: #C8C8C8;

@nav-bg-color: rgba(54, 54, 54, 0.6);

//背景色
@background-color: #fff;
@toc-bg-color: #efefef;


@text-shadow-color: #595959;
@text-shadow-hover-color: #000;

@footer-bg-color: #e8e8e8;

//文字颜色
@font-white-color: #fff;
@font-grey-color: #909090;
@header-font-hover-color: #efefef;
@link-color: #f69f68;

@font-black-color: #333;


//border颜色
@border-color: #eee;