/*-----------------------------上一篇下一篇-------------------------------*/
.prev-next-wrap {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 24px auto;
  .prev-item{
    float: left;
  }
  .next-item{
    float:right;
  }
  .prev-content.next-content{
    a{
      color: @subtitle-dark-color;
      &:hover{
        color:@link-color;
      }
    }
  }
}