// ------------------------------------------------
// 评论部分样式表
// ------------------------------------------------
#vcomments {
  width: 90%;
  max-width: 1024px;
  margin: 16px auto;
  padding: 16px;
}
