// ------------------------------------------------
// 评论部分样式表
// ------------------------------------------------
#vcomments {
  width: 100%;
  max-width: 1200px;
  margin: 16px auto;
  padding: 16px;
}
