// ------------------------------------------------
// 页面底部版权部分样式表
// ------------------------------------------------
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.5vh;
  padding: 16px;
  text-align: center;
  background-color: @copyright-bg;
  p {
    margin: auto;
    line-height: 1.2;
    font-size: 13px;
    color: @copyright-text;
    .all-rights-reserved {
      margin-left: 5px;
    }
    a{
      color: @copyright-text;
      &:hover{
        color:@active-link;
      } 
    }
  }
}
