// ------------------------------------------------
// 页面底部版权部分样式表
// ------------------------------------------------
.copyright {
  background-color: @copyright-bg;
  padding: 16px 0;
  text-align: center;
  p {
    margin: 0;
    line-height: 1.6;
    font-size: 13px;
    color: @copyright-text;
    a{
      color: @copyright-text;
      &:hover{
        color:@active-link;
      } 
    }
  }
}

.all-rights-reserved {
  margin-left: 5px;
}