// ------------------------------------------------
// 博客页面头部公共部分样式表
// ------------------------------------------------
.header-big, .header-small {
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 9;
  &:before {
    .cover-mixin;
    background: linear-gradient(to bottom, rgba(56, 56, 56, .45), rgba(56, 56, 56, .75) 100%);
  }
}

.header-big{
  height: 100vh;
}
.header-small{
  height: 40vh;
}

// 页面头部导航
.header-top-nav {
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: @top-nav-bg;
}

// 页面头部居中部分
.header-middle {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-middle-content {
  text-align: center;
  position: relative;
}
// 页面头部标题和描述
.header-title, .header-description {
  width: 100%;
  max-width: 1200px;
  font-weight: lighter;
  color: @title-light;
  text-shadow: 0 1px 2px @shadow-dark;
  letter-spacing: 6px;
  padding: 16px;
  &:hover{
    color: @subtitle-light;
    text-shadow: 0 1px 5px @shadow-dark-hover;
    text-decoration: none;
  }
}

.header-title {
  font-size: 42px;
  font-weight: 600;
}
.header-description{
  font-size: 20px;
  font-weight: 450;
}

.header-middle-content a:hover{
  color: @subtitle-light;
  text-shadow: 0 1px 5px @shadow-dark-hover;
  text-decoration: none;
}

// ------------------------------------------------
// 页面头部特有内容样式表
// ------------------------------------------------


// ------------------------------------------------
// 标签头部特有内容样式表
// ------------------------------------------------
.header-post-num {
  position: absolute;
  bottom: 8px;
  width: 100%;
  max-width: 1200px;
  color: @text-light;
}

.header-post-num i {
  margin-right: 4px;
}


// ------------------------------------------------
// 文章头部特有内容样式表
// ------------------------------------------------
.header-post-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: @desc-light;
  .iconfont{
    padding: 0 2px;
  }
  .dotted {
    margin: 0 4px;
  }
}

.header-post-tags {
  position: absolute;
  bottom: 8px;
  width: 100%;
  max-width: 1200px;
  a {
    margin: 0 4px 4px 0;
    padding: 2px 8px;
    border-radius: 24px;
    background: @label-bg-light;
    color: @label-dark;
    font-size: 13px;
    display: inline-block;
    &:hover {
      text-decoration: none;
      background: @active-link;
      color: @label-light;
    }
  }
}
