// ------------------------------------------------
// 相关文章推荐部分样式表
// ------------------------------------------------
.related-posts-wrapper {
  position: relative;
  width: 100%;
  background: @bg-translucence-grey;
  .related-post-title {
    width: 90%;
    max-width: 1200px;
    margin: 16px auto;
    font-size: 16px;
    font-weight: bold;
    color: @title-dark;
    padding-left: 8px;
    border-left: 4px solid @active-link;
  }
  .related-post-list {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    a {
      background: #f4f6f8 no-repeat center center;
      background-size: cover;
      position: relative;
      transition: all .15s ease-in-out;
      margin-right: 15px;
      display: block;
      flex: 1 0 auto;
      min-height: 240px;
      max-width: 900px;
      &:before {
        .cover-shape;
        background: linear-gradient(to bottom, rgba(56, 56, 56, .25), rgba(56, 56, 56, .35) 100%);
        opacity: .4;
      }
      &:hover {
        transform: scale(1.01);
      }
      p {
        position: absolute;
        width: 100%;
        bottom: 0;
        font-size: 16px;
        margin: 0;
        padding: 10px 15px;
        background: rgba(0, 0, 0, .5);
        word-break: break-all;
        color: #fff;
      }
    }
  }
}