/*-----------------------------上一篇下一篇-------------------------------*/
.prev-next-wrap {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 20px auto;
  .prev-item{
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .iconfont{
      font-size:20px;
      color: @active-link;
    }
    a{
      color: @subtitle-dark;
      &:hover{
        color: @active-link;
      }
    }
  }
  .next-item{
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .iconfont{
      font-size:20px;
      color: @active-link;
    }
    a{
      color: @subtitle-dark;
      &:hover{
        color: @active-link;
      }
    }
  }
}